<a href="https://colab.research.google.com/github/AishwaryaKshirsagar/Assignment1/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Task 1
###**SIRSS2228**

###*Aishwarya* *Kshirsagar*

In [25]:
#Pattern 1

n=5
m=5
for i in range(0,n):
  for j in range(0,m):
    print('5', end = ' ')
  print()
  m-=1

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [26]:
#Pattern 2

n=5
m=6
for i in range(0,n):#next line
    num=0
    for j in range(0,m):#each line
      print(num, end = ' ')
      num+=1  
    m-=1
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [27]:
#Pattern 3

rows = 6
i=1
for i in range(rows):
  j=1
  for j in range(i):
      print(i*2-1,end=" ")
      j+=1
  i+=1
  print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [28]:
#Pattern 4

n = 6
for i in range(1, n):
  for j in range(i, 0, -1):
    print(j, end= " ")
 
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [29]:
#Pattern 5

lst = []
for i in range(1, 5):# nos of rows
    if len(lst) == 0:
        lst.append(i)
    else:
        for j in range(i):
            last = lst[-1]
            lst.append(last+1)
    
    result = " ".join([str(lst[-k]) for k in range(1, i+1)])
    print(result)

1
3 2
6 5 4
10 9 8 7

In [30]:
#Pattern 6

n = 8
for i in range(1, n):
  for j in range(i, 0, -1):
    print(j, end= " ")
    
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1
7 6 5 4 3 2 1

In [31]:
#Pattern 7

n=6

for i in range(1,n):
  for j in range(1,n):
    if (j <= i):
      print(i, end =' ')
    else:
      print(j,end = ' ')
    
  print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [32]:
#Pattern 8

for i in range(1,9):
    x=1
    for j in range(1,i+1):
        n=i*x
        print(n, end=" ")
        x+=1
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [33]:
#Pattern 9

rows = 6 
k = 2 * rows - 2    
for i in range(rows, -1, -1):    
    for j in range(k, 0, -1):  
        print(end=' ')  
    k = k + 1  
    for j in range(0, i + 1):  
        print('*', end = ' ')  
    print()

          * * * * * * *
           * * * * * *
            * * * * *
             * * * *
              * * *
               * *
                *

In [34]:
#Pattern 10
n=7
m=7
for i in range(1,n+1):
  for k in range(0,m):
    print(" ",end="")
  for j in range(0,i):
    print("*",end=" ")
  m=m-1
  print()

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

In [35]:
#Pattern 11
#Upper Half
for i in range(1,7):
  for j in range(i+1, 1 , -1):
    print('* ', end = '')
  print()

print()

#Lower Half
for i in range(6,0,-1):
  for j in range(i+1, 1 , -1):
    print('* ', end = '')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [36]:
#Pattern 12

for i in range(1,6):
  for j in range(i+1, 1 , -1):
    print('* ', end = '')
  print()

for i in range(4,0,-1):
  for j in range(i+1, 1 , -1):
    print('* ', end = '')
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [37]:
#Pattern 13
rows = 5
k = 2 * (rows - 1)
for i in range(1,6):
  for j in range(k,0,-1):
    print(end = ' ')
  k=k-2
  for j in range(i+1, 1 , -1):
    print('* ', end = '')
  print()

rows = 4
k = (rows-2)
for i in range(4,0,-1):
  for j in range(0,k):
    print(end = ' ')
  k=k+2
  for j in range(1,i+1):
    print('* ', end = '')
  print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [38]:
#Pattern 14
row = 5
# Upper-half
for i in range(row, 0, -1):
    for j in range(row-i):
       
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print()

# Lower-half
for i in range(2, row+1):
    for j in range(row-i):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print()

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [39]:
#Pattern 15
n=9
m=17
for i in range(1,n):
    for j in range(1,m):
        if(j<=9-i or j>=8+i):
            print("*", end="")
        else:
            print("_",end="")
    print()

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*